<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Users</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <a href="/">
              <i class="glyphicon glyphicon-home"></i>
            </a>
          </li>
          <li>
            <a href="/adm/dashboard">
              <i class="glyphicon glyphicon-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-user"></i>
            Users
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<!-- content -->
<div class="col-lg-12">
  <div class="col-lg-12 pl0 mb15">
    <%= link_to "Add New", new_adm_user_path, class: "btn btn-primary" %>
  </div>

  <table id="articles_table" class="table table-stripped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Full Name</th>
        <th>Nick Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <div><%= user.email %></div>
            <div>
              <%= link_to "edit", edit_adm_user_path(id: user.id, page: @users.current_page) %>
              | <%= link_to 'trash', "/adm/users/destroy/#{user.id}", method: :delete, data: {confirm:'Are you sure?'} %>
            </div>
          </td>
          <td><%= user.full_name %></td>
          <td><%= user.nick_name %></td>
          <td><%= user.level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @users %>
</div>


<script>$('#pill_users').addClass('active');</script>

