<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">
          Users
          <small>New</small>
      </h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-home"></i>'.html_safe, root_url %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i> Dashboard'.html_safe, { controller: 'dashboard', action: 'index' } %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-user"></i> Users'.html_safe, { controller: 'users', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-file"></i>
            New
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<!-- content -->
<div class="col-lg-12">
  
  <%= form_for(@user, url: '/adm/users') do |f| %>
    <% if @user.errors.any? %>
      <div id="errors">
        <h2><%= pluralize(@user.errors.count, "error") %> prevent this post from saving</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group col-lg-12 mb15 pl0 pr0">
      <label class="col-lg-3 pl0">Full Name</label>
      <div class="col-lg-9 pr0">
        <%= f.text_field :full_name, class: 'form-control' %>	
      </div>
    </div>
  
    <div class="form-group col-lg-12 mb15 pl0 pr0">
      <label class="col-lg-3 pl0">Nick Name</label>
      <div class="col-lg-9 pr0">
        <%= f.text_field :nick_name, class: 'form-control' %>	
      </div>
    </div>
  
    <div class="form-group col-lg-12 mb15 pl0 pr0">
      <label class="col-lg-3 pl0">Email</label>
      <div class="col-lg-9 pr0">
        <%= f.text_field :email, class: 'form-control' %>	
      </div>
    </div>
  
    <div class="form-group col-lg-12 mb15 pl0 pr0">
      <label class="col-lg-3 pl0">Password</label>
      <div class="col-lg-9 pr0">
        <%= f.password_field :password, class: 'form-control' %>	
      </div>
    </div>
  
    <div class="form-group col-lg-12 mb15 pl0 pr0">
      <label class="col-lg-3 pl0">Password Confirm</label>
      <div class="col-lg-9 pr0">
        <%= f.password_field :password_confirm, class: 'form-control' %>	
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-primary' %>
      <%= link_to "Cancel", adm_users_path, class: "btn btn-default" %>
    </div>
  <% end %>
  
  <div class="alert alert-info">
    Please tell your new user the password. The password can be replaced by the new user through the forgot password.
  </div>
</div>


<script>$('#pill_users').addClass('active');</script>

