<div class="content">
  <div id="landing_articles">
    <% @articles.each do |article| %>
      <article class="mb30">
        <div class="feat_img">
          <%= image_tag("thumb/"+article.feat_img) %>
        </div>
        <div class="title_article">
          <a href="/<%= article.permalink %>">
            <h2 class="mb5"><%= article.title %></h2>
          </a>		
          <h3 class="mb10"><%= article.created_at %></h3>
          <div>
            <%= show_excerp(article).html_safe %>
          </div>
        </div>
      </article>
    <% end %>

    <%= will_paginate @articles %>
  </div>
</div>

