<%= render "support/fixed_nav" %>

<header class="intro-header" style="background-image: url('/images/show/<%=  @article.feat_img %>')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @article.title %></h1>
          <span class="meta">Posted by <a href="#">Admin</a> on <%= @article.created_at %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class='container'>
    <div class='row'>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= @article.body.html_safe %>
      </div>
    </div>
  </div>
</article>

<%= render "support/footer" %>