<%= render 'widget/head_top' %>

<section class="container back-white pl0 pr0">
  <%= render "widget/nav" %>
  
  <!-- breadcrumb -->
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="/"><i class="fa fa-angle-double-right"></i> Home</a>
      </li>
      <li class="active">
        Sign in
      </li>
    </ol>
  </div>
  
  <!-- content -->
  <div class="col-lg-12 pb10">
    
    <div class="col-lg-offset-3 col-lg-6">
      <h1 class="t-center">Sign in</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "control-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "control-label" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.label :remember_me, class: "control-label" %>
          <%= f.check_box :remember_me %> 
        </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: "btn btn-primary" %>	
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</section>

<%= render "widget/footer" %>