<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Articles</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <a href="/">
              <i class="glyphicon glyphicon-home"></i>
            </a>
          </li>
          <li>
            <a href="/adm/dashboard">
              <i class="glyphicon glyphicon-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-align-left"></i>
            Articles
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<!-- content -->
<div class="col-lg-12">
  <div class="col-lg-12 pl0 mb15">
    <%= link_to "Add New", new_adm_article_path, :class => "btn btn-primary" %>
  </div>

  <div class="col-lg-12 pr0 mb15">
    <div class="col-lg-offset-8 col-lg-4 pr0">
      <%= form_tag '/adm/articles', method: 'get' do %>
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="rows" value="<%= @rows %>">
        <input type="hidden" name="of" value="<%= @of %>">
        <input type="hidden" name="od" value="<%= @od %>">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Searching for title and content" name="q" value="<%= @q %>">
          <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary">
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <table id="articles_table" class="table table-stripped">
    <thead>
      <tr>
        <th class="table-head-column">
          Title
          <%= adm_articles_ordering(@rows, 'title', @q).html_safe %>
        </th>
        <th class="table-head-column">
          Author
          <%= adm_articles_ordering(@rows, 'nick_name', @q).html_safe %>
        </th>
        <th>Categories</th>
        <th class="table-head-column">
          Date
          <%= adm_articles_ordering(@rows, 'created_at', @q).html_safe %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <div><%= article.title %></div>
            <div>
              <%= link_to "edit", edit_adm_article_path(:id => article.id, :page => @articles.current_page) %>
              | <%= link_to 'trash', '/adm/articles/'+article.id.to_s+'?page='+@articles.current_page.to_s, method: :delete, data: {confirm:'Are you sure?'} %>
              | <%= link_to 'view', "/"+article.permalink, target: 'blank' %>
            </div>
          </td>
          <td><%= article.nick_name %></td>
          <td>
            <% #= # categories_per_article(article.id) %>
            <%= render :partial => "index_category_td", :locals => { :article_id => article.id } %>
          </td>
          <td><%= article.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles %>
</div>
  
<script>
  $('#pill_articles').addClass('active');
  $('.<%= @of %>_<%= @od %>').attr('style','display: block; color: red;');
</script>
