<h1 class="mt0 mb15">Articles</h1>
<div class="col-lg-12 pl0 mb15">
  <%= link_to "Add New", adm_articles_new_path, html={ "class" => "btn btn-primary" } %>
</div>

<table id="articles_table" class="table table-stripped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Categories</th>
      <th>Tags</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <div><%= article.title %></div>
          <div>
            <%= link_to "edit", adm_articles_edit_path(:id => article.id, :page => @articles.current_page) %>
            | <%= link_to 'trash', '/adm/articles/destroy/'+article.id.to_s+'?page='+@articles.current_page.to_s, method: :delete, data: {confirm:'Are you sure?'} %>
            | <%= link_to 'view', $appset.site_domain.to_s+"/"+article.permalink.to_s %>
          </div>
        </td>
        <td><%= article.nick_name %></td>
        <td>
          <% #= # categories_per_article(article.id) %>
          <%= render :partial => "index_category_td", :locals => { :article_id => article.id } %>
        </td>
        <td></td>
        <td><%= article.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @articles %>

<script>$('#pill_articles').addClass('active');</script>
