<footer>
  <div class="container">

    <div class="col-lg-3">
      <h3>Contact</h3>
      <ul>
        <li>
          Your Adrress<br>
          Jakarta Selatan<br>
          Indonesia<br>
          <br>
          Phone: +62 852 888 ****<br>
          Email: your@email.com
        </li>
      </ul>
    </div>

    <div class="col-lg-3">
      <h3>Pages</h3>
      <div id="menu_footer">
        <%= render "widget/pages" %>
      </div>
    </div>

    <div class="col-lg-3">
      <h3>Links</h3>
      <div id="menu_footer">
        <ul>
          <% if !current_user %>
            <li>
              <%= link_to "Register", "/users/sign_up" %>			
            </li>
            <li>
              <%= link_to "Sign in", "/users/sign_in" %>			
            </li>
          <% else %>
            <li>
              <%= link_to "Panel Page", "/adm/articles", :method => :get %>	
            </li>
            <li>
              <%= link_to "Edit Profil", "/adm/my_profile/edit", :method => :get %>	
            </li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>	
            </li>
          <% end %>
        </ul>	
      </div>
    </div>

    <div class="col-lg-3">
      <h3>Categories</h3>
      <div id="menu_footer">
        <%= render "widget/categories" %>
      </div>
    </div>

  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="col-lg-12">
        <div class="pull-right">
          2014 © Powered by RoR <strong>CMS</strong>
        </div>
        
      </div>
    </div>
  </div>
</footer>
