<%= render "support/fixed_nav" %>

<div class="container">
  <div class="col-lg-9">
    <div>
      <%= form_tag '/search', method: 'get' do %>
        <div class="col-lg-9 pl0">
          <input type="text" name="q" value="<%= @q %>" class="form-control">
        </div>
        <div class="col-lg-3">
          <%= button_tag 'Search', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    
    <div class="mt30">
      <%= render partial: "articles" %>  	
    </div>
  </div>
  <div class="col-lg-3">
    <%= render partial: "widget/popular_article" %>
    <%= render partial: "widget/recent_article" %>
  </div>
</div>

<hr>
<%= render "support/footer" %>
