<%= render "support/fixed_nav" %>

<div id="content-wrapper">
	<div id="sub-post">
		<div class="container">
			<i class="fa fa-home"></i> 
			<a href="/">Home</a> 
			<i class="fa fa-angle-double-right"></i> 
			<a href="#">Page</a> 
			<i class="fa fa-angle-double-right"></i> 
			<a><%= @article.title %></a>
		</div>
	</div>


	<div class="container">
		<div class="content left medium">
			<h1><%= @article.title %></h1>
			<%= image_tag("upload/show/"+@article.feat_img) %>
			
			<%= @article.body.html_safe %>
			<div class="clear line" style="margin-right:50px"></div>

		</div>

		
		<div class="content left small">
			<div class="content">
				<div>
					<%= render "widget/right_pages" %>
				</div>

				<div>
					<%= render "widget/right_categories" %>
				</div>

				<div>
					<%= render "widget/last_article" %>
				</div>
				
				<div>
					<%= render "widget/new_user" %>	
				</div>		
			</div>
			<div class="clear"></div>
		</div>
	</div>


</div>

<%= render "support/footer" %>