<%= render 'widget/head_top' %>
<section class="container back-white pl0 pr0">
  <%= render "widget/nav" %>

  <div class="col-lg-9">
    <%= render partial: "articles" %>  	
  </div>
  <div class="col-lg-3">
    <%= render partial: "widget/popular_article" %>
    <%= render partial: "widget/recent_article" %>
  </div>
</section>

<%= render "widget/footer" %>

<script type="text/javascript">
  landing.onload();
</script>