<h1 class="mt0 mb15">Categories</h1>
<div class="col-lg-12 pl0 mb15">
	<%= link_to "Add New", adm_categories_new_path, html={ "class" => "btn btn-primary" } %>
</div>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Slug</th>
			<th>Cont</th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |cat| %>
		<tr>
			<td>
				<div><%= cat.cat_name %></div>
				<div>
					<%= link_to "edit", "/adm/categories/edit?id=#{cat.id}" %>
					| <%= link_to 'trash', "/adm/categories/destroy/#{cat.id}", method: :delete, data: {confirm:'Are you sure?'} %>
				</div>
			</td>
			<td>
				<% if cat.cat_description? %>
				<%= cat.cat_description.html_safe %>
				<% end %>
			</td>
			<td><%= cat.cat_slug %></td>
			<td><%= cat.cat_count %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @categories %>

<script>$('#pill_categories').addClass('active');</script>

