<!--
<h1 class="mt0 mb15">Templates</h1>
-->
<h3 class="mt0 mb15">Active Template</h3>
<div class="col-lg-12 mb30 pl0 pr0">
  <div class="col-lg-3 pl0">
    <img src="/images/templates/<%= @default.name  %>/template.png" style="max-width: 200px;">
  </div>
  <div class="col-lg-9">
    <%= read_json(@default).html_safe %>
  </div>
</div>

<h3>Templates</h3>
<div class="col-lg-12 pl0 mb15">
  <%= link_to "Add New", adm_templates_new_path, html={ "class" => "btn btn-primary" } %>
</div>
<div>
  <% @templates.each do |template| %>
    <div class="col-lg-12 mb30 pl0 pr0">
      <div class="pull-right">
        <%= link_to "Activate", "#", class: "btn btn-primary" %>
        <%= link_to "Delete", "#", class: "btn btn-default" %>
      </div>
      <div class="col-lg-3 pl0">
        <img src="/images/templates/<%= template.name  %>/template.png" style="max-width: 200px;">
      </div>
      <div class="col-lg-9">
        <%= read_json(template).html_safe %>
      </div>
    </div>
  <% end %>
  
  <%= will_paginate @templates %>
</div>

<script>$('#pill_templates').addClass('active');</script>