<h1 class="mt0 mb30">Upload New Template</h1>

<div class="form-horizontal">
  <%= form_for @template, url: "/adm/templates/upload", :html => {:multipart => true} do |f| %>

    <% if @template.errors.any? %>
      <div id="errors" class="alert alert-danger">
        <h2 class="mt5 mb5"><%= pluralize(@template.errors.count, "error") %> prevent this post from saving</h2>
        <ul>
          <% @template.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'File', html_options={ "class" => "col-lg-3" } %>
      <div class="col-lg-9">
        <%= f.file_field :name, html_options={ "class" => "form-control" } %>	
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <input type="submit" value="Upload New Template" class="btn btn-primary">
      </div>
    </div>

  <% end %>
</div>


<script>$('#pill_templates').addClass('active');</script>