<h1 class="mt0 mb15">Media</h1>
<div class="col-lg-12 pl0 mb15">
	<%= link_to "Add New", adm_media_new_path, html={ "class" => "btn btn-primary" } %>
</div>

<div>
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Caption</th>
				<th>Author ID</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @media.each do |med| %>
			<tr>
				<td>
					<%= image_tag('thumb/'+med.med_storage_name, alt: med.med_alt, style: "margin-bottom: 10px;") %>
				</td>
				<td>
					<%= med.med_title %>
				</td>
				<td>
					<%= med.med_caption %>
				</td>
				<td>
					<%= med.med_author_id %>
				</td>
				<td>
					<div class="btn-group-vertical" role="group">
				  		<%= link_to "Edit", "/adm/media/edit?id=#{med.id}&page=#{@media.current_page}", class: "btn btn-default" %>
  						<%= link_to 'Delete', "/adm/media/destroy/#{med.id}", method: :delete, data: {confirm:'Are you sure?'}, class: "btn btn-default" %>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= will_paginate @media %>

<script>$('#pill_media').addClass('active');</script>