<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<h1>Form Tambah</h1>

<%= form_for(@category, url: adm_categories_path) do |f| %>
  <% if @category.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@category.errors.count, "error") %> prevent this post from saving</h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>

  <div class="form-group col-lg-12 mb15 pl0 pr0">
    <label class="col-lg-3 pl0">Name</label>
    <div class="col-lg-9 pr0">
      <%= f.text_field :cat_name, html_options={ "class" => "form-control" } %>	
    </div>

  </div>

  <div class="form-group col-lg-12 mb15 pl0 pr0">
    <label class="col-lg-3 pl0">Description</label>
    <div class="col-lg-9 pr0">
      <%= f.text_area :cat_description %>
    </div>
  </div>

  <div class="form-group col-lg-12 mb15 pl0 pr0">
    <label class="col-lg-3 pl0">Slug</label>
    <div class="col-lg-9 pr0">
      <%= f.text_field :cat_slug, html_options={ "class" => "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Add New Category", html_options={ "class" => "btn btn-primary" } %>
    <%= link_to "Cancel", adm_categories_path, class: "btn btn-default" %>
  </div>
<% end %>

  <script>
    $(document).ready(function() {
      setTimeout(function() {
        tinyMCE.init({
          menubar: false,
          selector: 'textarea'
        });
        console.log('jalan');
      }, 500);

      $('#pill_categories').addClass('active');
    });

  </script>