<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Settings</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-home"></i>'.html_safe, root_url %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i>'.html_safe+' Dashboard', { controller: 'dashboard', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-cog"></i>
            Settings
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="form-horizontal">
    <form id="form_settings">

      <div class="form-group">
        <label class="col-lg-3">Site Title</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_title" value="<%= app_set('site_title') %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3">Site Description</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_description" value="<%= app_set('site_description') %>" class="form-control">		
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3">Domain</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_domain" value="<%= app_set('site_domain') %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3">Keywords</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_keywords" value="<%= app_set('site_keywords') %>" class="form-control">
        </div>
      </div>
        
      <div class="form-group">
        <label class="col-lg-3">Article Size</label>	
        <div class="col-lg-9">
          <input type="number" name="o_article_size" value="<%= app_set('article_size') %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-12">
          <input type="submit" class="btn btn-primary" value="Save Changes" onclick="adm_settings.save(); return false;">
        </div>
      </div>

    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#pill_settings').addClass('active');
  });
</script>