<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">
        Medium
        <small>Edit</small>
      </h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-home"></i>'.html_safe, root_path  %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i> Dashboard', { controller: 'dashboard', action: 'index' } %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-picture"></i> Medium', { controller: 'media', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-pencil"></i>&nbsp;
            Edit
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="form-horizontal">
    <%= form_for @medium, url: "/adm/media/update/#{@medium.id}?page=#{@page}", :html => {:multipart => true} do |f| %>

      <% if @medium.errors.any? %>
        <div id="errors" class="alert alert-danger">
          <h2 class="mt5 mb5"><%= pluralize(@medium.errors.count, "error") %> prevent this post from saving</h2>
          <ul>
            <% @medium.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :med_title, 'Title', html_options={ "class" => "col-lg-3" } %>
        <div class="col-lg-9">
          <%= f.text_field :med_title, html_options={ "class" => "form-control" } %>	
        </div>
      </div>

      <div class="form-group">
        <%= f.label :med_caption, 'Caption', html_options={ "class" => "col-lg-3" } %>
        <div class="col-lg-9">
          <%= f.text_field :med_caption, html_options={ "class" => "form-control" } %>	
        </div>
      </div>		

      <div class="form-group">
        <%= f.label :med_alt, 'Alt Text', html_options={ "class" => "col-lg-3" } %>
        <div class="col-lg-9">
          <%= f.text_field :med_alt, html_options={ "class" => "form-control" } %>	
        </div>
      </div>

      <div class="form-group">
        <%= f.label :med_description, 'Description', html_options={ "class" => "col-lg-3" } %>
        <div class="col-lg-9">
          <%= f.text_area :med_description, html_options={ "class" => "form-control" } %>	
        </div>
      </div>

      <div class="form-group">
        <%= f.label :gallery, 'Gallery', html_options={ "class" => "col-lg-3" } %>
        <div class="col-lg-9">
          <%= f.select :gallery, options_for_select([['Ya','yes'],['Tidak','no']],@medium.gallery), html_options={ :class => "form-control" }  %>	
        </div>
      </div>

      <div class="form-group">
        <%= f.label :med_storage_name, 'File', html_options={ "class" => "col-lg-3" } %>
        <div class="col-lg-9">
          <%= f.file_field :med_storage_name, html_options={ "class" => "form-control" } %>	
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-12">
          <input type="submit" value="Edit Media" class="btn btn-primary">
          <%= link_to "Cancel", { controller: 'media', action: 'index' }, { class: 'btn btn-default'} %>
        </div>
      </div>

    <% end %>
  </div>
</div>



<script>$('#pill_media').addClass('active');</script>