<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Media</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to root_url do  %>
              <i class="glyphicon glyphicon-home"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i>'.html_safe+' Dashboard', { controller: 'dashboard', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-picture"></i>&nbsp;
            Media
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-12 pl0 mb15">
    <%= link_to "Add New", '/adm/media/new', class: "btn btn-primary" %>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Caption</th>
          <th>Author ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @media.each do |med| %>
          <tr>
            <td>
              <%= show_image(med.med_storage_name) %>
            </td>
            <td>
              <%= med.med_title %>
              <br>
              /images/thumb/<%= med.med_storage_name %>
              <br>
              /images/show/<%= med.med_storage_name %>
            </td>
            <td>
              <%= med.med_caption %>
            </td>
            <td>
              <%= med.med_author_id %>
            </td>
            <td>
              <div class="btn-group-vertical" role="group">
                <%= link_to "Edit", "/adm/media/edit?id=#{med.id}&page=#{@media.current_page}", class: "btn btn-default" %>
                <%= link_to 'Delete', "/adm/media/destroy/#{med.id}", method: :delete, data: {confirm:'Are you sure?'}, class: "btn btn-default" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= will_paginate @media %>
</div>


<script>$('#pill_media').addClass('active');</script>