<%= render 'widget/head_top' %>

<section class="container back-white pl0 pr0">
  <%= render "widget/nav" %>
  
  <!-- breadcrumb -->
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="/"><i class="glyphicon glyphicon-home"></i> Home</a>
      </li>
      <li>
        <i class="glyphicon glyphicon-tags"></i>&nbsp;
        <% @article_categories.each do |ac| %>
          <a class="cats" href="/category/<%= ac.cat_slug %>"><%= ac.cat_name %></a> 
        <% end %>
      </li>
      <li class="active">
        <i class="glyphicon glyphicon-align-left"></i>
        <%= @article.title %>
      </li>
    </ol>
  </div>


  <div class="container">
    <div class="col-lg-9">
      <h1><%= @article.title %></h1>
      <h4 class="mb30">
        by  
        <% if @article.full_name == nil %>
          Tim
        <% else %>
          <%= @article.full_name %>
        <% end %>
          on <%= @article.created_at %> 
      </h4> 

      <div class="mb30">
        <%= image_tag("show/"+@article.feat_img) %>
      </div>

      <article class="t-justify t-line-h-150 mb30">
        <%= @article.body.html_safe %>
      </article>

      <div class="clear line" style="margin-right:50px"></div>

      <%= render "discuss_list" %>
      <%= render "discuss_form" %>
    </div>

    <div class="col-lg-3">
      <div>
        <%= render "widget/right_categories" %>
      </div>

      <div>
        <%= render "widget/recent_article" %>
      </div>

    </div>
  </div>
</section>
  
<%= render "widget/footer" %>