<%= render 'widget/head_top' %>

<section class="container back-white pl0 pr0">
  <%= render "widget/nav" %>
  
  <!-- content -->
  <div class="col-lg-12 pb10">
    <div class="col-lg-offset-3 col-lg-6">
      <h2>Resend unlock instructions</h2>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.submit "Resend unlock instructions" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>

<%= render "widget/footer" %>
