<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Themes</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-home"></i>'.html_safe, root_url %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i>'.html_safe+' Dashboard', { controller: 'dashboard', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-heart"></i>
            Themes
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>


<div class="col-lg-12">
  <h3 class="mt0 mb15">Active Theme</h3>
  <div class="col-lg-12 mb30 pl0 pr0">
    <div class="col-lg-3 pl0">
      <img src="/images/themes/<%= @default.folder_name  %>/theme.png" style="max-width: 200px;">
    </div>
    <div class="col-lg-9">
      <%= read_json(@default).html_safe %>
    </div>
  </div>

  <h3>Theme List</h3>
  <div class="col-lg-12 pl0 mb15">
    <%= link_to "Add New", '/adm/themes/new', class: "btn btn-primary"  %>
  </div>
  <div>
    <% @themes.each do |theme| %>
      <div class="col-lg-12 mb30 pl0 pr0">
        <div class="pull-right">
          <%= link_to "Activate", "/adm/themes/active/#{theme.id}", method: "post", class: "btn btn-primary" %>
          <%= link_to "Delete", "/adm/themes/destroy/#{theme.id}", method: "delete", data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>
        </div>
        <div class="col-lg-3 pl0">
          <img src="/images/themes/<%= theme.folder_name  %>/theme.png" style="max-width: 200px;">
        </div>
        <div class="col-lg-9">
          <%= read_json(theme).html_safe %>
        </div>
      </div>
    <% end %>

    <%= will_paginate @themes %>
  </div>
</div>
  
<script>$('#pill_themes').addClass('active');</script>