<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<h1 class="mt0">Add New Page</h1>

<%= form_for(@article, url: "/adm/pages/create", html: {"class" => "form-horizontal"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="errors" class="alert alert-danger">
      <h2 class="mt5 mb5"><%= pluralize(@article.errors.count, "error") %> prevent this post from saving</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- barisan content form -->
  <div class="col-lg-9 pl0">
    <div class="form-group">
      <%= f.text_field :title, html_options={ "id" => "article_title" ,"class" => "form-control", "placeholder" => "Title", "onkeyup" => "createPermalink();" } %>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><%= $appset.site_domain %>/page/</span>
        <%= f.text_field :permalink, html_options={ "id" => "article_permalink", "class" => "form-control", "placeholder" => "Permalink" } %>
      </div>
    </div>		

    <div class="form-group">
      <%= f.text_area :body, html_options={ "id" => "article_body", "placeholder" => "Article" } %>
    </div>

    <%= render "adm_articles/panel_ext", :locals => { @article => @article} %>
  </div>

  <div class="col-lg-3">
    <%= render "panel_publish", :locals => { @article => @article } %>
    <%= render "panel_featured_image", :locals => { @article => @article } %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function() {
      tinyMCE.init({
        menubar: false,
        selector: '#article_body'
      });
      console.log('jalan');
    }, 500);

    $('#pill_pages').addClass('active');
  });

  function createPermalink() {
    var title = $('#article_title').val();
    var tit_a = title.replace(/\W+/g, "-");
    var permalink = tit_a.toLowerCase();

    $('#article_permalink').val(permalink);
  }
</script>