<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">
        Pages
        <small>Edit</small>
      </h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-home"></i>'.html_safe, root_url %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i>'.html_safe+' Dashboard', { controller: 'dashboard', action: 'index' } %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-briefcase"></i>'.html_safe+' Pages', { controller: 'pages', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <%= form_for(@data, url: '/adm/pages/edit/simpan') do |f| %>

    <!-- barisan flash error -->
    <% if @data.errors.any? %>
      <div id="errors" class="alert alert-danger">
        <h2 class="mt5 mb5"><%= pluralize(@data.errors.count, "error") %> prevent this post from saving</h2>
        <ul>
          <% @data.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- barisan content form -->

    <div class="col-lg-12 pl0">	
      <div class="form-group">
        <% if @field == "menu_profil" %>
          <%= f.text_area :menu_profil, style: "min-height: 300px;" %>
        <% elsif @field == "menu_rpjmd" %>
          <%= f.text_area :menu_rpjmd, style: "min-height: 300px;" %>
        <% elsif @field == "menu_visimisi" %>
          <%= f.text_area :menu_visimisi, style: "min-height: 300px;" %>
        <% elsif @field == "menu_skpd" %>
          <%= f.text_area :menu_skpd, style: "min-height: 300px;" %>
        <% elsif @field == "menu_urusan" %>
          <%= f.text_area :menu_urusan, style: "min-height: 300px;" %>
        <% elsif @field == "menu_program" %>
          <%= f.text_area :menu_program, style: "min-height: 300px;" %>
        <% elsif @field == "menu_rka" %>
          <%= f.text_area :menu_rka, style: "min-height: 300px;" %>
        <% elsif @field == "menu_lpj" %>
          <%= f.text_area :menu_lpj, style: "min-height: 300px;" %>
        <% elsif @field == "menu_prestasi" %>
          <%= f.text_area :menu_prestasi, style: "min-height: 300px;" %>
        <% end %>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save">
        <%= link_to "Cancel", adm_pages_path, class: "btn btn-default" %>
      </div>
    </div>

  <% end %>
</div>

<script>adm_pages.onload();</script>