<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<h1 class="mt0">Edit Page</h1>

<%= form_for(@article, url: adm_page_path(id: @article.id, page: @page)) do |f| %>

  <!-- barisan flash error -->
  <% if @article.errors.any? %>
    <div id="errors" class="alert alert-danger">
      <h2 class="mt5 mb5"><%= pluralize(@article.errors.count, "error") %> prevent this post from saving</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- barisan content form -->
  <div class="col-lg-9 pl0">
    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><%= $appset.site_domain %>/page/</span>
        <%= f.text_field :permalink, class: "form-control", placeholder: "Permalink" %>
      </div>
    </div>	

    <div class="form-group">
      <%= f.text_area :body, placeholder: "Article", style: "min-height: 300px;" %>
    </div>

    <%= render "adm/articles/panel_ext" %>

  </div>

  <div class="col-lg-3">
    <%= render "panel_publish" %>
    <%= render "panel_featured_image" %>
  </div>

<% end %>

<script>adm_pages.onload();</script>